<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Agrintell Simulador</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style media="screen">
     .input-field label {
       color: #000;
     }
     .input-field input[type=text]:focus + label {
       color: #000;
     }
     .input-field input[type=text]:focus {
       border-bottom: 1px solid #000;
       box-shadow: 0 1px 0 0 #000;
     }
     .input-field input[type=text].valid {
       border-bottom: 1px solid #000;
       box-shadow: 0 1px 0 0 #000;
     }
     .input-field input[type=text].invalid {
       border-bottom: 1px solid #000;
       box-shadow: 0 1px 0 0 #000;
     }
     .input-field .prefix.active {
       color: #000;
     }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="section">

        <div class="row">

          <div class="row">
            <div class="input-field col s8">
              <input id="url" type="url" class="validate" placeholder="Ejm. 192.168.1.1 o google.com">
              <label>URL</label>
            </div>
            <div class="input-field col s4">
              <button id="probarConexion" class="btn waves-effect waves-light green">
                Probar Conexión
              </button>
              <button id="guardarUrl" class="btn waves-effect waves-light blue">
                Guardar
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#tab1">SENSORES</a></li>
                <li class="tab col s6"><a href="#tab2">VÁLVULAS</a></li>
              </ul>
            </div>
            <div id="tab1" class="col s12">

              <br>

              <div class="col l12 valign-wrapper center-align">
                <div class="switch col l6">
                  <label>
                    Desactivar
                    <input id="sensoresSwitch" type="checkbox">
                    <span class="lever"></span>
                    Activar
                  </label>
                </div>
                <div class="input-field col l6" style="margin-bottom: 0">
                  <input id="sensoresIntervalo" type="number" class="validate" placeholder="Ejm. 5000" value="5000">
                  <label>Intervalo (milisegundos)</label>
                </div>
              </div>

              <br>

              <div class="col s12 m12 l4">
                <div class="card cyan" disabled>
                  <div class="card-content white-text">
                    <span class="card-title"><b>Sensor 1</b></span>
                  </div>
                  <div class="card-action center-align">
                    <div class="row s12">
                      <div class="switch col s9">
                        <label style="color: #fff">
                          Desactivar
                          <input id="switch11" class="switchDevice" type="checkbox">
                          <span class="lever"></span>
                          Activar
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12 m12 l4">
                <div class="card cyan" disabled>
                  <div class="card-content white-text">
                    <span class="card-title"><b>Sensor 2</b></span>
                  </div>
                  <div class="card-action center-align">
                    <div class="row s12">
                      <div class="switch col s9">
                        <label style="color: #fff">
                          Desactivar
                          <input id="switch12" class="switchDevice" type="checkbox">
                          <span class="lever"></span>
                          Activar
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12 m12 l4">
                <div class="card cyan" disabled>
                  <div class="card-content white-text">
                    <span class="card-title"><b>Sensor 3</b></span>
                  </div>
                  <div class="card-action center-align">
                    <div class="row s12">
                      <div class="switch col s9">
                        <label style="color: #fff">
                          Desactivar
                          <input id="switch13" class="switchDevice" type="checkbox">
                          <span class="lever"></span>
                          Activar
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12 m12 l4">
                <div class="card purple" disabled>
                  <div class="card-content white-text">
                    <span class="card-title"><b>Sensor 1</b></span>
                  </div>
                  <div class="card-action center-align">
                    <div class="row s12">
                      <div class="switch col s9">
                        <label style="color: #fff">
                          Desactivar
                          <input id="switch21" class="switchDevice" type="checkbox">
                          <span class="lever"></span>
                          Activar
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12 m12 l4">
                <div class="card purple" disabled>
                  <div class="card-content white-text">
                    <span class="card-title"><b>Sensor 2</b></span>
                  </div>
                  <div class="card-action center-align">
                    <div class="row s12">
                      <div class="switch col s9">
                        <label style="color: #fff">
                          Desactivar
                          <input id="switch22" class="switchDevice" type="checkbox">
                          <span class="lever"></span>
                          Activar
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12 m12 l4">
                <div class="card purple" disabled>
                  <div class="card-content white-text">
                    <span class="card-title"><b>Sensor 3</b></span>
                  </div>
                  <div class="card-action center-align">
                    <div class="row s12">
                      <div class="switch col s9">
                        <label style="color: #fff">
                          Desactivar
                          <input id="switch23" class="switchDevice" type="checkbox">
                          <span class="lever"></span>
                          Activar
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div id="tab2" class="col s12">

              <br>

              <div class="col l12 valign-wrapper center-align">
                <div class="switch col l6">
                  <label>
                    Desactivar
                    <input id="valvulasSwitch" type="checkbox">
                    <span class="lever"></span>
                    Activar
                  </label>
                </div>
                <div class="input-field col l6" style="margin-bottom: 0">
                  <input id="valvulasIntervalo" type="number" class="validate" placeholder="Ejm. 5000" value="5000">
                  <label>Intervalo (milisegundos)</label>
                </div>
              </div>

              <br>

              <div class="col s12 m12 l4">
                <div class="card orange" disabled>
                  <div class="card-content white-text">
                    <span class="card-title"><b>Válvula 1</b></span>
                  </div>
                  <div class="card-action center-align">
                    <div class="row s12">
                      <div class="switch col s9">
                        <label style="color: #fff">
                          Desactivar
                          <input id="switch31" class="switchDevice" type="checkbox">
                          <span class="lever"></span>
                          Activar
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12 m12 l4">
                <div class="card orange" disabled>
                  <div class="card-content white-text">
                    <span class="card-title"><b>Válvula 2</b></span>
                  </div>
                  <div class="card-action center-align">
                    <div class="row s12">
                      <div class="switch col s9">
                        <label style="color: #fff">
                          Desactivar
                          <input id="switch32" class="switchDevice" type="checkbox">
                          <span class="lever"></span>
                          Activar
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12 m12 l4">
                <div class="card orange" disabled>
                  <div class="card-content white-text">
                    <span class="card-title"><b>Válvula 3</b></span>
                  </div>
                  <div class="card-action center-align">
                    <div class="row s12">
                      <div class="switch col s9">
                        <label style="color: #fff">
                          Desactivar
                          <input id="switch33" class="switchDevice" type="checkbox">
                          <span class="lever"></span>
                          Activar
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
      <br><br>
    </div>

    <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l12">
          <h5 class="white-text">Agrintell</h5>
          <p class="grey-text text-lighten-4">
            En Agrintell hemos desarrollado una solución integral para mejorar su estrategia de riego basado en datos reales de sensores en campo, estaciones meteorológicas, datos de imágenes satélites y algoritmos en la nube que apoyan a tomar las decisiones adecuadas.
          </p>

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Agrintell S.A.C
      </div>
    </div>
  </footer>

    <!-- Modal OK -->
    <div id="ok" class="modal">
      <div class="modal-content">
        <h4>OK</h4>
        <p id="okMsg"></p>
      </div>
      <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat">OK</button>
      </div>
    </div>

    <!-- Modal ERROR -->
    <div id="error" class="modal">
      <div class="modal-content">
        <h4>Error</h4>
        <p id="errorMsg"></p>
      </div>
      <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat">OK</button>
      </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

    <script>
      $(function() {
        $('.tabs').tabs();
        $('.modal').modal();

        $('#probarConexion').click(function() {
          $.ajax({
            url: '../ping?url=' + $('#url').val()
          }).done(function(res) {
            if(res.msg == 'ok') {
              $('#okMsg').text('PING realizado con éxito')
              $('#ok').modal('open');
            }else{
              $('#errorMsg').text('Error de PING')
              $('#error').modal('open');
            }
          });
        });

        $('#guardarUrl').click(function() {
          $.ajax({
            url: '../url?url=' + $('#url').val()
          }).done(function(res) {
            if(res.msg == 'ok') {
              $('#okMsg').text('URL guardada con éxito')
              $('#ok').modal('open');
            }else{
              $('#errorMsg').text('Error al guardar la URL')
              $('#error').modal('open');
            }
          });
        });

        $("#sensoresSwitch").change(function() {
          if($(this).is(":checked")) {
            $.ajax({
              url: '../activar/sensores'
            }).done(function(res) {
              if(res.msg == 'ok') {
                $('#switch11').prop('checked', true);
                $('#switch12').prop('checked', true);
                $('#switch13').prop('checked', true);
                $('#switch21').prop('checked', true);
                $('#switch22').prop('checked', true);
                $('#switch23').prop('checked', true);
                $('#okMsg').text('Sensores activados con éxito')
                $('#ok').modal('open');
              }else{
                $('#errorMsg').text('Error al activar sensores')
                $('#error').modal('open');
              }
            });
          }else{
            $.ajax({
              url: '../desactivar/sensores'
            }).done(function(res) {
              if(res.msg == 'ok') {
                $('#switch11').prop('checked', false);
                $('#switch12').prop('checked', false);
                $('#switch13').prop('checked', false);
                $('#switch21').prop('checked', false);
                $('#switch22').prop('checked', false);
                $('#switch23').prop('checked', false);
                $('#okMsg').text('Sensores desactivados con éxito')
                $('#ok').modal('open');
              }else{
                $('#errorMsg').text('Error al desactivar sensores')
                $('#error').modal('open');
              }
            });
          }
        })

        $("#sensoresIntervalo").change(function() {
          $.ajax({
            url: '../intervalo/sensores/' + $(this).val()
          }).done(function(res) {
            if(res.msg == 'ok') {
              $('#okMsg').text('Intervalo guardado con éxito')
              $('#ok').modal('open');
            }else{
              $('#errorMsg').text('Error al guardar intervalo')
              $('#error').modal('open');
            }
          });
        })

        $("#valvulasSwitch").change(function() {
          if($(this).is(":checked")) {
            $.ajax({
              url: '../activar/valvulas'
            }).done(function(res) {
              if(res.msg == 'ok') {
                $('#switch31').prop('checked', true);
                $('#switch32').prop('checked', true);
                $('#switch33').prop('checked', true);
                $('#okMsg').text('Válvulas activadas con éxito')
                $('#ok').modal('open');
              }else{
                $('#errorMsg').text('Error al activar válvulas')
                $('#error').modal('open');
              }
            });
          }else{
            $.ajax({
              url: '../desactivar/valvulas'
            }).done(function(res) {
              if(res.msg == 'ok') {
                $('#switch31').prop('checked', false);
                $('#switch32').prop('checked', false);
                $('#switch33').prop('checked', false);
                $('#okMsg').text('Válvulas desactivadas con éxito')
                $('#ok').modal('open');
              }else{
                $('#errorMsg').text('Error al desactivar válvulas')
                $('#error').modal('open');
              }
            });
          }
        })

        $("#valvulasIntervalo").change(function() {
          $.ajax({
            url: '../intervalo/valvulas/' + $(this).val()
          }).done(function(res) {
            if(res.msg == 'ok') {
              $('#okMsg').text('Intervalo guardado con éxito')
              $('#ok').modal('open');
            }else{
              $('#errorMsg').text('Error al guardar intervalo')
              $('#error').modal('open');
            }
          });
        })

        $(".switchDevice").change(function() {
          if($(this).is(":checked")) {
            $.ajax({
              url: '../activar/' + $(this).attr('id')
            }).done(function(res) {
              if(res.msg == 'ok') {
                $('#okMsg').text('Dispositivo activado con éxito')
                $('#ok').modal('open');
              }else{
                $('#errorMsg').text('Error al activar dispositivo')
                $('#error').modal('open');
              }
            });
          }else{
            $.ajax({
              url: '../desactivar/' + $(this).attr('id')
            }).done(function(res) {
              if(res.msg == 'ok') {
                $('#okMsg').text('Dispositivo desactivado con éxito')
                $('#ok').modal('open');
              }else{
                $('#errorMsg').text('Error al desactivar dispositivo')
                $('#error').modal('open');
              }
            });
          }
        })
      });
    </script>
  </body>
</html>
